@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("static/IdealisticNecessaryHuia-size_restricted.gif");
    /* background-image: url("static/IdealisticNecessaryHuia-size_restricted.gif"); */
    /* background-color: rgba(0,0,0, 0.7); */
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px);
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
}

main {
    width: 100%;
    display: block;
    /* max-width: 520px; */
    /* padding: 240px; */
}

.me {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  padding: 20px;
  text-align: center;
}

h1 {
    font-size: 3em;
    font-weight: 140%;
    font-style: italic;
}

.media > a {
    color: aliceblue;
    transition: 0.2s;
}

.media > a:hover {
    color: #337;

    transition-duration: 0.2s;
}
