body {
  width: 100wh;
  height: 90vh;
  background: linear-gradient(-125deg, #d6e28e, #3f699b);
  background-size: 400% 400%;
  color: #ffffff;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

.particles-js {
    height: 100%;
    /* background: inherit; */
}

.name {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  position: absolute;
  font-weight: bolder;
  font-size: 30px;
  /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif */
  /* font-size: 400%; */
  top: 45%;
  right: 0%;
  left: 0%;
}

.handle {
  font-family: inherit;
  text-align: inherit;
  position: inherit;
  font-style: italic;
  font-size: 15px;
  top: 50%;
  right: 0%;
  left: 0%;
}
/* Manuel Pinto for the CSS background */
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
