body {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    background: linear-gradient(-125deg, #49a9cc, #50bf9c);
    background-size: 400% 400%;
}

.bar {
    background: #abaeb3;
    overflow: hidden;
    padding-right: 30px;
    margin-right: 20px;
}

.about {
    background: #d7dade;
}
